
/* Start with best-practices css defaults */
@import 'sanitize.css';
@import 'sanitize.css/typography.css';
@import 'sanitize.css/forms.css';


/* Import font configurations */
@import './assets/fonts/IBMPlexSans/ibm_plex_sans.css';
@import './assets/fonts/FiraCode/fira_code.css';


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

/* === Global variables === */
:root {
  /* Protip, ask your designer for a named list :) */
  --background-color: #ffffff;
  --text-color: #3c4b62;
  --title-color: #272a2f;
  --accent-color: #1661EE;
  --accent-color-faded: rgba(0, 0, 255, 0.5);
  --menu-width: 12rem;
  --alt-background-color: #f5f7fa;
}


/* === Default cascade === */
html {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

/* === Opionated tweaks === */
html,
body {
  position: relative;
  max-width: 100%;
}

::selection {
  background: var(--accent-color);
  color: var(--background-color);
}

/* Keyboard focus styles */
[data-focus-visible-added] {
  outline-offset: 2px;
  outline: 2px dashed var(--accent-color-faded);
}

/* Disable focus styles for mouse focuses */
:focus:not([data-focus-visible-added]) {
  outline: none;
}

img,
video,
iframe,
input,
select,
textarea {
  max-width: 100%;
  height: auto;
}

section, .section {
  padding: 1rem 0;
}


/* === Typography === */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--title-color);
  margin: 2em 0 1rem 0;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 1.1;
}

h1, .h1 {
  font-size: 3rem;
}
h2, .h2 {
  font-size: 1.75rem;
}
h3, .h3 {
  font-size: 1.33rem;
}
h4, .h4 {
  font-size: 1rem;
}
h5, .h5 {
  font-size: 0.83rem;
}
h6, .h6 {
  font-size: 0.67rem;
}

p, .paragraph {
  margin: 1rem 0;
  font-size: 1rem;
}

a, .link {
  text-decoration: underline;
  color: inherit;
}

h1 a, .h1 a,
h2 a, .h2 a,
h3 a, .h3 a,
h4 a, .h4 a,
h5 a, .h5 a,
h6 a, .h6 a {
  text-decoration: none;
}

b, strong {
  font-weight: 700;
  color: var(--title-color);
}



/* === Buttons === */
button, .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid currentColor;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--background-color);
  background-color: var(--text-color);
}
button:hover,
.button:hover {
  opacity: 0.9;
}
button:active,
.button:active {
  opacity: 0.8;
}
button.outlined:active,
.button.outlined:active {
  color: var(--text-color);
  background-color: var(--background-color);
}



/* === Forms === */
input:not([type="radio"]):not([type="checkbox"]):not([type="color"]),
select,
textarea {
  display: block;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  width: 100%;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--text-color);
}

textarea {
  min-height: 2.625rem;
}

select {
  padding-right: 1.25rem;
}



/* === Misc === */
code {
  display: inline-block;
  background-color: var(--alt-background-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  /* font-family: 'Fira Code', sans-serif; */
  font-weight: 500;
}

pre code {
  display: block;
  padding: 1rem;
}

hr {
  margin: 2rem 0;
  border: none;
  height: 0.25rem;
  background-color: var(--alt-background-color);
}



.app {
  position: relative;
  min-height: 100vh;
  max-width: 992px;
}

.noBodyScroll {
  overflow: hidden;
  max-height: 100vh;
}


.main-content {
  padding: 1rem;
  position: relative;
}

.markdown-content h1:first-child {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 3rem;
  padding-bottom: 2.25rem;
  border-bottom: 0.25rem solid var(--alt-background-color);
}







@media (min-width: 992px) {
  .app {
    margin: 3rem auto;
    display: flex;
  }
  .main-content {
    width: calc(100% - var(--menu-width));
  }
}






.hero {
  display: grid;
  grid-template-columns: 75% auto;
  grid-template-rows: auto auto;
  align-items: center;
  grid-gap: 1rem;
}


.hero h1 {
  font-size: 4rem;
  grid-column: 1;
  grid-row: 1;
  margin: 0 !important;
  position: relative;
}

.hero h1 sup {
  margin-left: 1rem;
  color: var(--accent-color);
  position: absolute;
  top: -1rem;
}
.hero h1 sup code {
  border: 1px solid var(--accent-color);
  font-size: 1rem;
  background-color: transparent;
}


.hero h2 {
  grid-column: 1;
  grid-row: 2;
  font-weight: 400;
  margin: 0;
}


.hero .social {
  grid-column: 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  height: 100%;
}
.hero .social svg {
  width: 1.5rem;
  height: 1.5rem;
}







.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 1rem 0;
}

.features-grid .feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.features-grid .feature img {
  margin-bottom: auto;
}
.features-grid .feature h2 {
  margin-top: 1rem;
  font-weight: 400;
  color: var(--accent-color);
}
.features-grid .feature p {
  margin: 0;
  font-weight: 400;
}






.info-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  margin: 1rem 0;
  align-items: center;
}

.info-grid img {
  grid-column: 1;
  grid-row: span 2;
}

.info-grid h2 {
  margin: 0;
  font-weight: 400;
}

.info-grid p {
  margin: 0;
}




.site-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  z-index: 10;
  width: 100%;

}



.logo {
  position: relative;
  z-index: 15;
  display: flex;
  align-items: center;
  display: block;
  width: 100%;
}

.logo::after {
  content: '';
  display: block;
  padding-top: 77.5%;
}

.logo img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}




.logo .v1 {
  display: none;
}
.logo:hover .v2 {
  display: none !important;
}
.logo:hover .v1 {
  display: block;
}


.menu-toggler {
  position: relative;
  z-index: 15;
  font-size: 0;
  padding: 0;
  border: none;
}
.menu-toggler img {
  width: 2.5rem;
}
.menu-toggler:focus {
  background-color: transparent;
}


.menu {
  z-index: 10;
  min-height: 100vh;
  padding: 5rem 1rem 1rem 1rem;
  display: none;
}
.menu.opened {
  display: block;
}

.main-links a {
  display: block;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  font-size: 1.5rem;
  /* font-family: 'Fira Code'; */
  margin: 0.25rem 0;
}
.main-links a:hover {
  background-color: #f8f8fc;
}
.main-links a.active {
  color: #386dff;
  background-color: #f2f4ff;
}


.sub-links {
  margin: 3rem 0;
}

.sub-links a {
  display: block;
  text-decoration: none;
  font-weight: 400;
  margin: 0 1rem;
  color: #a1aab8;
  font-size: 0.875rem;
}
.sub-links > ul > li > a {
  font-size: 1rem;
  color: #697384;
  margin-top: 1rem;
  position: relative;
}
.sub-links > ul > li > a::before {
  content: '—';
  margin-right: 0.5rem;
  position: absolute;
  right: 100%;
}




@media (min-width: 640px) {
  .site-header {
  }
  .menu {
    padding: 0;
  }
}




@media (min-width: 992px) {
  .site-header {
    flex-direction: column;
    justify-content: flex-start;
    width: var(--menu-width);
  }
  .menu-toggler {
    display: none;
  }
  .menu {
    position: sticky;
    top: 3rem;
    display: block;
    background: none;
    min-height: auto;
    margin: 3rem 0;
  }
}



