
.site-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  z-index: 10;
  background-color: #f6f6f8;
}



.logo {
  position: relative;
  z-index: 15;
  display: flex;
  align-items: center;
  width: 100%;
}
.logo .v2.mobile {
  height: 2rem;
}
.logo .v2.desktop {
  display: none;
}

.logo .v1 {
  display: none;
}
.logo:hover .v2 {
  display: none !important;
}
.logo:hover .v1 {
  display: block;
}


.menu-toggler {
  position: relative;
  z-index: 15;
  font-size: 0;
  padding: 0;
  border: none;
}
.menu-toggler img {
  width: 2.5rem;
}
.menu-toggler:focus {
  background-color: transparent;
}


.menu {
  background-color: white;
  width: 100%;
  z-index: 10;
  min-height: 100vh;
  padding: 5rem 1rem 1rem 1rem;
  display: none;
}
.menu.opened {
  display: block;
}
.menu a {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--text-grey);
  text-decoration: none;
  font-family: 'Fira Code', monospace;
}
.menu a:hover {
  color: #546067;
}
.menu a.active {
  color: var(--dark-blue);
}

.menu > ul > li > a {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}

.menu > ul > li > ul > li > a {
  margin: 0.5rem 0 0.25rem 0;
  font-weight: 500;
}
.menu > ul > li > ul > li > ul {
  padding-left: 1rem;
}




@media (min-width: 640px) {
  .site-header {
    padding: 1rem;
  }
  .menu {
    padding: 6rem 1rem 2rem 1rem;
  }
}




@media (min-width: 992px) {
  .site-header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1.5rem 2rem 1.5rem 1.5rem;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 20rem;
    overflow: auto;

  }
  .menu-toggler {
    display: none;
  }
  .menu {
    position: relative;
    display: block;
    background: none;
    padding: 0;
    min-height: auto;
    margin: 0.5rem 0;
  }
  .logo .v2.mobile {
    display: none;
    height: 2.5rem;
  }
  .logo .v2.desktop {
    display: block;
    height: 2.5rem;
  }
}

